PORT=3000
GROUP_NAME=??? ???????
WHATSAPP_NUMBER=961XXXXXXXX
WHATSAPP_AUTH_MODE=auto
WHATSAPP_WEB_VERSION=
WHATSAPP_SESSION_B64=
GROQ_API_KEY=your_groq_api_key
NEWS_API_KEY=
NEWS_API_QUERY=lebanon
NEWS_API_LANGUAGE=ar
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_CHANNELS=
TELEGRAM_SESSION=
TELEGRAM_BOT_TOKEN=
